# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.svn

/.vscode

/00. 共通
/01. GCB测试工具/01. 参考资料
/01. GCB测试工具/02. 相关资源
/01. GCB测试工具/03. 项目资料
/01. GCB测试工具/05. 测试作业
/01. GCB测试工具/06. 部署作业
/01. GCB测试工具/07. 需求管理
/01. GCB测试工具/08. 交互管理
/01. GCB测试工具/09. 业务流程

/02. 步进电机新曲线/01. 参考资料
/02. 步进电机新曲线/02. 相关资源
/02. 步进电机新曲线/03. 项目资料
/02. 步进电机新曲线/05. 测试作业
/02. 步进电机新曲线/06. 部署作业
/02. 步进电机新曲线/07. 需求管理
/02. 步进电机新曲线/08. 交互管理
/02. 步进电机新曲线/09. 业务流程
/02. 步进电机新曲线/04. 工程程序/01. 工程程序/001. 原始代码