# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.svn

/00. 共通
/01. GCB测试工具/03. 项目资料/001. 项目文档/003. 项目文档/001. 设计文档
/01. GCB测试工具/03. 项目资料/001. 项目文档/003. 项目文档/002. 过程文档
/01. GCB测试工具/02. 相关资源/002. 工程资源/001. 解析资源/003. 现场数据图片